.TableOfContents {
    padding: 1em;
    padding-left: 0px;
    max-height: 50vh;
    overflow: auto;
}

.TOCTitle {
    margin-top: 0px;
    margin-bottom: 1em;
}

.HeadingsList {
    list-style-type: '➥';
    padding-left: 0px;
    margin: 0px;
}

.TOCEntry {
    color: cyan;
    cursor: pointer;
    user-select: none;
    transition: all 0.15s;
}

.TOCEntry:hover {
    filter: brightness(0.75);
    margin-left: 0.25em;
}