.AppHeader {
    width: 100%;
    min-height: 7.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AppBanner {
    max-width: 100%;
    max-height: 6em;
}

.NavigationContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    max-width: 60%;
    justify-content: flex-end;
}