/* Font Declarations */

@font-face {
    font-family: 'Press Start 2P';
    src: url("assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url("assets/fonts/PTSansNarrow-Regular.ttf") format("truetype");
}

/* General Contents */

body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0px;
    font-family: 'PT Sans Narrow';
    font-size: small;
}

h1, h2, h3 {
    font-family: 'Press Start 2P';
}

p {
    font-size: large;
    text-align: justify;
}

a {
    text-decoration: none;
    color: cyan;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background: rgba(30, 30, 30, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(75, 75, 75, 1);
}