/* Font Declarations */

@font-face {
    font-family: 'Press Start 2P';
    src: url("assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url("assets/fonts/PTSansNarrow-Regular.ttf") format("truetype");
}

/* General Contents */

body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0px;
    font-family: 'PT Sans Narrow';
    font-size: small;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P';
    scroll-margin-top: 7.5em;
}

p {
    font-size: large;
    text-align: justify;
}

a {
    text-decoration: none;
    color: cyan;
}

table {
    border-spacing: 0px;
}

td {
    padding: 0.15em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px dotted #666;
}

a:hover {
    text-decoration: underline;
}

.Page {
    width: min(80vw, 75em);
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    background-color: #1a1a1a;
    padding: 2em;
    font-size: medium;
}

.TableBorderRight {
   border-right: 1px solid white;
   padding-right: 1em;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background: rgba(30, 30, 30, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(75, 75, 75, 1);
}