/* Font Declarations */

@font-face {
    font-family: 'Press Start 2P';
    src: url("assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url("assets/fonts/PTSansNarrow-Regular.ttf") format("truetype");
}

/* General Contents */

body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 10px;
    font-family: 'PT Sans Narrow';
    font-size: small;
    text-align: justify;
}

h1, h2, h3 {
    font-family: 'Press Start 2P';
}

p {
    font-size: large;
}

a {
    text-decoration: none;
    color: cyan;
}